*{
  margin: 0;
}

.div-banner {
  background-image: url("https://arthur-littm.github.io/startup-landing/images/background.png");
  height: 75vh;
  background-position: center;
  background-size: cover;
}

.content {
  text-align: justify;
  width: 65%;
  margin: 0 auto;
  color: grey;
  padding-top: 240px;
  line-height: 50px;
  font-size: 16px;
}

h1 {
color: white;
}
